<!DOCTYPE html>
<html>
<head>
<style>
body {background-color: lightyellow;}
h1 {
  color: blue;
  font-family: verdana;
  font-size: 300%;
}
p  {
  color: red;
  font-family: courier;
  font-size: 160%;
  border: 1px solid powderblue;
  padding: 30px;
}
hr {
width: 300px;
margin-left: auto;
margin-right: auto;
height: 100px;
background-color:#666;
opcaity: 0.5;
}
</style>
</head>
<body>
</body>
</html>
