<!DOCTYPE html>
<html>
<head>
<style>
body {background-color: lightyellow;}
body {background-color: darkgray;}
h1 {
  	color: blue;
  	font-family: verdana;
  	font-size: 200%;
  	border: 1px solid #000;
  	width: 50%;
  	margin: auto;
  	margin-top: 5%;
  	margin-bottom: 5%;
	text-align: center;
}
h2 {
  	Color: blue;
  	font-family:
	text-align: center;
}
p  {
  	color: black;
  	font-family: courier;
 	font-size: 100%;
	text-align: center;
}
div1 {
	border: 2px solid blue;
	display: inline-block;
	vertical-align: top;
	width: 500px
	height: 350px
	text-align: center;
}
div {
	border: 2px solid blue;
	text-align: center;
}
#wrapper
{
	text-align: center;
	width: 500px;
	margin: auto;
	background-color: darkgray;
}
.scrollbar
{
	margin-left: 0px;
	float: left;
	height: 350px;
	width: 500px;
	background: #F5F5F5;
	overflow-y: scroll;
	margin-bottom: 25px;
	background-color: darkgray;
}
</style>
</head>
<body>
</body>
</html>
